<h1>Sign up</h1>
<form action="/user/create-owner" method="POST">
<input type="text" placeholder='Username' name='username' value="{{username}}">
<input type="password" placeholder='Password' name='password' value="{{password}}">
<input type="text" placeholder='First name' name='firstName' value="{{firstName}}">
<input type="text" placeholder='Last name' name='lastName' value="{{lastName}}">
<input type="submit" value='Submit'>
</form>
<p>{{errMsg}}</p>